{{#if orderLines.length}}
  <header>
    <span class="count">#</span>
    <span class="name">Item</span>
    <span class="price">Price</span>
  </header>
{{else}}
  <span class="empty">
	  Your cart is empty.
  </span>
{{/if}}

{{#each orderLines as |line|}}
  {{order-receipt-line line=line}}
{{/each}}

{{#if orderLines.length}}
  <footer class="total">
    <span class="name">Total</span>
    <span class="price">${{total}}</span>
  </footer>
{{/if}}
