{{#each cart as |item|}}
  <div class="form-group row class={{item.sku}}">
    <label for="{{item.sku}}">{{item.label_plural}}</label>
    <div>
      {{input type="number" min="0" value=item.order_count id=item.sku}}
    </div>
  </div>
{{/each}}
