.order-receipt {
  font-family: 'Source Code Pro', Consolas, monospace;
}

.order-receipt header,
.order-receipt-line {
  display: grid;
  grid-template-columns: 1em auto 4em;
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
}

.order-receipt .price {
  text-align: right;
}

.order-receipt .total {
  border-top: 2px solid #777;
  display: grid;
  font-weight: bold;
  grid-column-gap: 0.5em;
  grid-template-columns: auto 4em;
  grid-template-rows: auto;
  margin-top: 0.5em;
  padding-top: 0.5em;
}
