<main class="cart col-md-8">
  <h2>Shopping cart</h2>

  {{shopping-cart cart=model.cart}}
</main>

<aside class="receipt col-md-4">
  <h4>Your receipt</h4>

  {{order-receipt cart=model.cart}}
</aside>

{{outlet}}